@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins and paddings */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent unwanted horizontal scrollbar */
}

/* Ensure the body takes full height */
body {
  min-height: 100vh;
  background-color: #ffffff;
}

/* Smooth transition for section elements */
section {
  transition: all 0.3s ease-in-out;
}

/* Prevent images from being draggable */
img {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Improve rendering performance */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
